<div class="form-group row">
    <label class="col-form-label col-sm-2" for="titulo">Nombre</label>
    <div class="col sm-15"><!--numero caracteres de ancho-->
        <input readonly class="form-control" name="titulo" value="<%= modelo.titulo%>"/><!--readonly: solo lectura-->
    </div>
</div>

<div class="form-group row">
    <label class="col-form-label col-sm-2" for="autor">Autor</label>
    <div class="col sm-15">
        <input readonly class="form-control" name="autor" value="<%= modelo.autor%>"/>
    </div>
</div>

<div class="form-group row">
    <label class="col-form-label col-sm-2" for="genero">Genero</label>
    <div class="col sm-15">
        <input  readonly class="form-control" name="genero" value="<%= modelo.genero%>"/>
    </div>
</div>

<div class="form-group row">
    <label class="col-form-label col-sm-2" for="editorial">Editorial</label>
    <div class ="col sm-15">
        <input readonly class="form-control" name="editorial" value="<%= modelo.editorial%>"/>
    </div>
</div>

<div class="form-group row">
    <label class="col-form-label col-sm-2" for="coleccion">Coleccion</label>
    <div class ="col sm-15">
        <input readonly class="form-control" name="coleccion" value="<%= modelo.coleccion%>"/>
    </div>
</div>

<div class="form-group row">
    <label class="col-form-label col-sm-2" for="ISBN">ISBN</label>
    <div class="col sm-15">
        <input  readonly class="form-control" name="ISBN" value="<%= modelo.ISBN%>"/>
    </div>
</div>
